{{#if target.degree}}
<div class="flavor-text">
  <hr>
  <div>
    Range: {{target.distance}} {{target.units}} ({{target.rangecat}})
  </div>
  <div class="degree-text" data-tooltip="{{target.flavor}}">
    {{target.degree}}
  </div>
</div>
{{/if}}

{{#if target.attroll.formula}}
<div class="dice-roll" data-action="expandRoll">
  <div class="dice-result">
    <div class="dice-formula">{{target.attroll.formula}}</div>
    {{{target.tooltip}}}
    <h4 data-tooltip="{{target.flavor}}"
      class="dice-total{{#if isNat20}} natural-20{{/if}}{{#if isCrit}} critical-threat success{{/if}}{{#if isFumble}} failure{{/if}}">{{target.attroll.total}}</h4>
  </div>
</div>
{{/if}}

<div class="attack-targets" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}" {{#if tokenUuid}}data-token-uuid="{{tokenUuid}}"{{/if}}>
  {{localize "d100A.Targetz"}}
</div>

{{#each targetData as |t count|}}
<div class="attack-targets">
  Target {{add count 1}} {{t.token.name}} Range: {{t.distance}} {{t.units}} ({{t.rangecat}})
</div>

{{#if t.degree}}
<div class="degree-text" data-tooltip-direction="UP" data-tooltip="{{t.flavor}}">
  {{t.degree}}
</div>
{{/if}}

{{#if t.attroll.formula}}
<div class="dice-roll" data-action="expandRoll">
  <div class="dice-result">
    <div class="dice-formula">{{t.attroll.formula}}</div>
    {{{t.tooltip}}}
    <h4 data-tooltip="{{t.flavor}}"
      class="dice-total{{#if isNat20}} natural-20{{/if}}{{#if ../isCrit}} critical-threat success{{/if}}{{#if ../isFumble}} failure{{/if}}">{{t.attroll.total}}</h4>
  </div>
</div>
{{/if}}

<div class="target attack-target-card" data-uuid="{{t.token.uuid}}">
  <img class="target-image" src="{{t.token.texture.src}}" />

  <div class="attack-target-right">
    {{#if (not (eq ../item.type "psionic"))}}
    <div class="ac attack-target-damage" data-tooltip-direction="UP" data-gm-sensitive-uuid="{{t.token.uuid}}">
      <div class="damage-row ordinary">
        <span class="degree-label">{{localize "Ordinary"}}</span>
        <button type="button" data-action="applyDamage" data-dmgtype="{{t.dmgtype.ord}}" data-target-id="{{t._id}}"
          data-firepower="{{t.firepower}}" data-type="{{t.type}}" data-value="{{t.dmgresult.ord.damage.total}}"
          data-tooltip="{{t.dmgresult.ord.damage.formula}}">{{t.dmgresult.ord.damage.total}}</button>
        <span class="damage-type">{{localize t.dmgtype.ord}}</span>
      </div>

      <div class="damage-row good">
        <span class="degree-label">{{localize "Good"}}</span>
        <button type="button" data-action="applyDamage" data-dmgtype="{{t.dmgtype.goo}}" data-target-id="{{t._id}}"
          data-firepower="{{t.firepower}}" data-type="{{t.type}}" data-value="{{t.dmgresult.goo.damage.total}}"
          data-tooltip="{{t.dmgresult.goo.damage.formula}}">{{t.dmgresult.goo.damage.total}}</button>
        <span class="damage-type">{{localize t.dmgtype.goo}}</span>
      </div>

      <div class="damage-row amazing">
        <span class="degree-label">{{localize "Amazing"}}</span>
        <button type="button" data-action="applyDamage" data-dmgtype="{{t.dmgtype.ama}}" data-target-id="{{t._id}}"
          data-firepower="{{t.firepower}}" data-type="{{t.type}}" data-value="{{t.dmgresult.ama.damage.total}}"
          data-tooltip="{{t.dmgresult.ama.damage.formula}}">{{t.dmgresult.ama.damage.total}}</button>
        <span class="damage-type">{{localize t.dmgtype.ama}}</span>
      </div>
    </div>
    {{else}}
    {{#if ../hasDegreeText}}
      {{#if (eq t.degree "Critical Failure")}}{{../degreeText.critical}}{{/if}}
      {{#if (eq t.degree "Failure")}}{{../degreeText.failure}}{{/if}}
      {{#if (eq t.degree "Ordinary")}}{{../degreeText.ordinary}}{{/if}}
      {{#if (eq t.degree "Good")}}{{../degreeText.good}}{{/if}}
      {{#if (eq t.degree "Amazing!")}}{{../degreeText.amazing}}{{/if}}
      {{#if (eq t.degree "Critical Success")}}{{../degreeText.amazing}}{{/if}}
      <p style="font-size: small;"></p>
    {{/if}}
        {{/if}}

<!--[[console this]]
[[console actor]] -->
    {{#if token.actor.isSpaceActor}}
    <div class="HitLoc" data-gm-sensitive-uuid="{{t.token.uuid}}">
      <button type="button" data-action="rollHitLoc" data-aspect="{{t.aspect}}" data-atttokenid="{{../atttokenid}}"
        data-target-id="{{t._id}}" data-firepower="{{t.firepower}}" data-type="{{t.type}}"
        data-value="{{t.dmgresult.ama.damage.total}}" data-tooltip-direction="UP"
        data-tooltip="<p>Rolled by attacker. Modified by Called Shot.<br>System damage is possible any time one of the following occurs:</p><p>• The target suffers mortal or critical damage.</p><p>• The target marks off its last stun or wound box.</p><p>• The attacker achieves an Amazing success with her attack and at least 1 point of primary damage penetrates the target's armor.</p>">
        System Damage
      </button>
    </div>

    {{/if}}
  </div>
</div>
{{/each}}