<div class="pf1 chat-card item-card" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}" {{#if tokenUuid}}data-token-uuid="{{tokenUuid}}"{{/if}}>
  {{> "systems/Alternityd100/templates/chat/parts/attack-roll-header.hbs"}}

  {{#if targetData}}
  {{> "systems/Alternityd100/templates/chat/parts/attack-roll-targets.hbs"}}
  {{/if}}
{{console "attack-roll.hbs - 7."}}
{{console this}}
{{console attacks}}
  {{#each attacks as |atk|}}
  <div class="chat-attack">
    {{#unless atk.notesOnly}}
    <table>
      <thead>
        {{#if atk.hasAttack}}
        <tr>
          <th class="attack-flavor" {{#if atk.hasCritConfirm}}colspan="4"{{else}}colspan="2"{{/if}}>
            {{atk.attack.flavor}}
            {{#if atk.rollData.d20}}
            <i class="fas fa-dice-d20" title="{{localize "PF1.CustomRollDesc"}}"></i>
            {{/if}}
          </th>
        </tr>
        {{#if atk.hasCritConfirm}}
        <tr>
          <th class="attack-flavor alt" colspan="2">{{atk.attack.flavor}}</th>
          <th class="attack-flavor crit-confirm" colspan="2">{{atk.critConfirm.flavor}}</th>
        </tr>
        {{/if}}
        {{else}}
        <tr>
          <th class="attack-damage" colspan="2">
            {{atk.damage.flavor}}
            <a class="attack-damage total fake-inline-roll inline-result" title="{{localize "PF1.Total"}}">
              {{atk.damage.total}}
            </a>
          </th>
        </tr>
        {{/if}}
      </thead>

      <tbody>
        {{#if atk.hasAttack}}
        <tr>
          {{console this}}
          <td {{#if atk.hasCritConfirm}}colspan="2"{{else}}colspan="4"{{/if}}>
            <a class="inline-roll inline-dsn-hidden inline-result{{#if ../isCrit}} natural-20{{/if}}{{#if atk.attack.isCrit}} critical-threat success{{/if}}{{#if atk.attack.isFumble}} failure{{/if}}"
            title="{{atk.attack.formula}}" data-roll="{{json-string atk.attack.roll}}">
            <i class="fas fa-dice-d20"></i> {{atk.attack.total}}
            </a>
          </td>
          {{#if atk.hasCritConfirm}}
          <td colspan="2">
            <a class="inline-roll inline-dsn-hidden inline-result{{#if atk.critConfirm.isCrit}} success{{/if}}{{#if atk.critConfirm.isFumble}} failure{{/if}}"
            title="{{atk.critConfirm.formula}}" data-roll="{{json-string atk.critConfirm.roll}}">
            <i class="fas fa-dice-d20"></i> {{atk.critConfirm.total}}
            </a>
          </td>
          {{/if}}
        </tr>

        {{#if atk.hasDamage}}
        <tr>
          <th colspan="2">
            {{atk.damage.flavor}}
            <a class="fake-inline-roll inline-dsn-hidden inline-result" title="{{localize "PF1.Total"}}">
              {{atk.damage.total}}
            </a>
          </th>
          {{#if atk.hasCritConfirm}}
          <th colspan="2">
            {{atk.critDamage.flavor}}
            <a class="fake-inline-roll inline-dsn-hidden inline-result" title="{{localize "PF1.Total"}}">
              {{atk.critDamage.total}}
            </a>
          </th>
          {{/if}}
        </tr>

        {{!-- Damage parts in an attack --}}
        {{#each atk.damageRows as |dr|}}
        <tr>
          {{#if dr.normal}}
          <td>
            <a class="inline-roll inline-dsn-hidden inline-result" title="{{dr.normal.roll.formula}}" data-roll="{{json-string dr.normal.roll}}">
              <i class="fas fa-dice-d20"></i> {{dr.normal.roll.total}}
            </a>
          </td>
          <td>{{dr.normal.damageType}}</td>
          {{else}}
          <td></td>
          <td></td>
          {{/if}}
          {{#if atk.hasCritConfirm}}
          {{#if dr.crit}}
          <td>
            <a class="inline-roll inline-dsn-hidden inline-result" title="{{dr.crit.roll.formula}}" data-roll="{{json-string dr.crit.roll}}">
              <i class="fas fa-dice-d20"></i> {{dr.crit.roll.total}}
            </a>
          </td>
          <td>{{dr.crit.damageType}}</td>
          {{else}}
          <td></td>
          <td></td>
          {{/if}}
          {{/if}}
        </tr>
        {{/each}}
        {{/if}}

        {{else}}

        {{!-- Damage parts without an attack roll --}}
        {{#each atk.damageRows as |dr|}}
        <tr>
          {{#if dr.normal}}
          <td>
            <a class="inline-roll inline-dsn-hidden inline-result" title="{{dr.normal.roll.formula}}" data-roll="{{json-string dr.normal.roll}}">
              <i class="fas fa-dice-d20"></i> {{dr.normal.roll.total}}
            </a>
          </td>
          <td>{{dr.normal.damageType}}</td>
          {{else}}
          <td></td>
          <td></td>
          {{/if}}
          {{#if atk.hasCritConfirm}}
          {{#if dr.crit}}
          <td>
            <a class="inline-roll inline-dsn-hidden inline-result" title="{{dr.crit.roll.formula}}" data-roll="{{json-string dr.crit.roll}}">
              <i class="fas fa-dice-d20"></i> {{dr.crit.roll.total}}
            </a>
          </td>
          <td>{{dr.crit.damageType}}</td>
          {{else}}
          <td></td>
          <td></td>
          {{/if}}
          {{/if}}
        </tr>
        {{/each}}
        {{/if}}
      </tbody>
    </table>
    {{/unless}}

    {{#if atk.hasCards}}
    <hr>

    <div class="flexcol card-buttons">
      {{#each atk.cards as |cardGroup|}}
      <div class="card-button-group flexcol">
        <label>{{cardGroup.label}}</label>
        <div class="flexrow">
        {{#each cardGroup.items as |item|}}
          <button data-action="{{item.action}}" data-value="{{item.value}}" data-tags="{{item.tags}}">{{item.label}}</button>
        {{/each}}
        </div>
      </div>
      {{/each}}
      {{#if ../hasSave}}
      <button data-action="save" data-dc="{{../save.dc}}" data-type="{{../save.type}}"
        {{#if ../save.gmSensitiveLabel}} data-gm-sensitive-inner="{{../save.gmSensitiveLabel}}"{{/if}}
        data-tags="{{item.tags}}">{{../save.label}}</button>
      {{/if}}
    </div>
    {{else}}
    <div class="card-button-group flexcol">
      {{#if ../hasSave}}
      <button data-action="save" data-dc="{{../save.dc}}" data-type="{{../save.type}}"
        {{#if ../save.gmSensitiveLabel}} data-gm-sensitive-inner="{{../save.gmSensitiveLabel}}"{{/if}}
        data-tags="{{item.tags}}">{{../save.label}}</button>
      {{/if}}
    </div>
    {{/if}}

    {{{atk.effectNotesHTML}}}
  </div>
  {{/each}}

  {{~> "systems/Alternityd100/templates/chat/parts/attack-roll-footer.hbs"}}
</div>
