<form>
 
   <div class="form-group">
    <label    style="font-size: 125% " >Damage: {{formula}} {{localize defenceData.dmgtype}} ({{type}}) ({{firepower}}) </label>
    
  </div>
<table style="width:100%">
  <tr>
    <th style="width:50%" >  
      <div class="form-group">
    <label>Damage</label>
    <input type="text" name="damage" value="{{damage}}" enabled/>
    </div>
  </th>
  <th>

<div class="form-group" data-tooltip="{{ localize "d100A.Items.Weapon.firepowerTooltip" }}">
    <label>{{ localize "d100A.Items.Type" }}</label>
  
    <select name="type">
  {{selectOptions d100A.damagetype selected=type}}
    </select>
    </div>  



  </th>
  </tr>


<tr>
    <th>  
      <div class="form-group" data-tooltip="{{ localize "d100A.Items.Weapon.dmgtypeTooltip" }}">
    <label>{{ localize "d100A.Items.dmgtype" }}</label>
    <select name="dmgtype">
    {{selectOptions d100A.damageQ selected=defenceData.dmgtype}}
    </select>
    </div> 
 
  </th>
  <th>
    {{#if (not tokenData.isSpaceActor) }}
      <div class="form-group" data-tooltip="{{ localize "d100A.Items.Weapon.firepowerTooltip" }}">
      <label>{{ localize "d100A.Items.Firepower" }}</label>
      <select name="firepower">
      {{selectOptions d100A.firepower selected=firepower}}
      </select>
      </div>  
    {{/if}}
    
    {{#if tokenData.isSpaceActor }}
      <div class="form-group" data-tooltip="{{ localize "d100A.Items.Weapon.firepowerTooltip" }}">
      <label>{{ localize "d100A.Items.Firepower" }}</label>
      {{console this}}

<select name="firepower">
  {{selectOptions d100A.starshipFirepower selected=firepower localize=true }}
</select>


      </div>  
    {{/if}}
  </th>
  </tr>


</table>
 <ol></ol>
  {{#each defenceData.armor as |armor index|}}
    <li>{{armor.name}}</li>
    {{/each}}


</ol>

  <div class="form-group">
    <label>RollMode</label>
    <select name="rollMode">
      {{selectOptions rollModes selected=rollMode localize=true}}
    </select>
  </div>
   <div class="form-group">

    </div>
    
</form>
